/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        layer3 {
            bindings = <&tog 0>;
            key-positions = <37 41>;
        };

        backspace_line {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <38 40>;
        };

        nav_apps {
            bindings = <&kp LC(TAB)>;
            key-positions = <38 24>;
        };

        thumb_tab {
            bindings = <&kp TAB>;
            key-positions = <39 38>;
        };

        enter {
            bindings = <&kp KP_ENTER>;
            key-positions = <12 38>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "0";
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E      &kp R  &kp T    &kp Y      &kp U         &kp I             &kp O    &kp P     &kp BSPC
&kp ESCAPE      &kp A  &kp S  &kp D      &kp F  &kp G    &kp H      &kp J         &kp K             &kp L    &kp SEMI  &kp APOS
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C      &kp V  &kp B    &kp N      &kp M         &kp COMMA         &kp DOT  &kp FSLH  &kp ENTER
                              &kp LCTRL  &mo 1  &mo 2    &kp SPACE  &kp LEFT_ALT  &kp LEFT_COMMAND
            >;
        };

        layer_1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "1";
            bindings = <
&trans  &kp N1            &kp N2             &kp N3     &kp N4        &kp N5          &kp N6        &kp N7          &kp N8           &kp N9                &kp N0                 &kp BSPC
&trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp HASH   &kp DOLLAR    &kp ASTERISK    &kp CARET     &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp BACKSLASH
&trans  &kp KP_NUMBER_0   &kp KP_SUBTRACT    &kp UNDER  &kp KP_EQUAL  &none           &kp ASTERISK  &kp KP_PLUS     &kp LESS_THAN    &kp GREATER_THAN      &kp KP_DIVIDE          &trans
                                             &trans     &trans        &trans          &trans        &trans          &trans
            >;
        };

        layer_2 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "2";
            bindings = <
&trans  &kp EXCL   &kp AT       &kp HASH  &kp DOLLAR  &kp PERCENT    &kp CARET       &kp AMPERSAND   &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &kp EXCL   &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT             &kp COLON              &kp PIPE
&trans  &kp TILDE  &trans       &trans    &trans      &trans         &trans          &trans          &trans        &trans                &trans                 &trans
                                &trans    &trans      &trans         &trans          &trans          &trans
            >;
        };
    };
};
