/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        layer3 {
            bindings = <&tog 3>;
            key-positions = <37 41>;
        };

        backspace_line {
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <38 40>;
        };

        nav_apps {
            bindings = <&kp LC(TAB)>;
            key-positions = <38 24>;
        };

        thumb_tab {
            bindings = <&kp TAB>;
            key-positions = <39 38>;
        };

        thumb_del {
            bindings = <&kp DELETE>;
            key-positions = <12 11>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "0";
            bindings = <
&mt ESCAPE TAB    &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y      &kp U              &kp I         &kp O    &kp P     &kp BSPC
&kp LEFT_SHIFT    &kp A  &kp S  &kp D  &kp F  &kp G        &kp H      &kp J              &kp K         &kp L    &kp SEMI  &kp APOS
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N      &kp M              &kp COMMA     &kp DOT  &kp FSLH  &kp LEFT_COMMAND
                                &mo 2  &mo 1  &kp ENTER    &kp SPACE  &kp LA(BACKSPACE)  &kp LEFT_ALT
            >;
        };

        layer_1 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "1";
            bindings = <
&trans  &kp N1                         &kp N2                         &kp N3                       &kp N4        &kp N5    &kp N6  &kp N7       &kp N8                         &kp N9                 &kp N0                     &kp BSPC
&trans  &kp PIPE                       &kp LEFT_PARENTHESIS           &mt LEFT_BRACKET LEFT_BRACE  &kp KP_MINUS  &none     &none   &kp KP_PLUS  &mt RIGHT_BRACKET RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp BACKSLASH              &mt LG(RIGHT_ARROW) RIGHT_ARROW
&trans  &mt LG(DOWN_ARROW) DOWN_ARROW  &mt LG(LEFT_ARROW) LEFT_ARROW  &none                        &kp UNDER     &none     &none   &kp CARET    &trans                         &trans                 &mt LG(UP_ARROW) UP_ARROW  &trans
                                                                      &trans                       &trans        &trans    &trans  &trans       &trans
            >;
        };

        layer_2 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "2";
            bindings = <
&trans  &none     &none        &none     &none         &none     &none   &none            &none          &none      &none  &trans
&trans  &kp EXCL  &kp AT_SIGN  &kp HASH  &kp DOLLAR    &none     &none   &kp KP_EQUAL     &kp AMPERSAND  &kp TILDE  &none  &none
&trans  &none     &none        &none     &kp KP_SLASH  &none     &none   &kp KP_MULTIPLY  &trans         &trans     &none  &trans
                               &trans    &trans        &trans    &trans  &trans           &trans
            >;
        };

        layer_3 {
            display-name = "3";
            bindings = <
&trans  &none     &kp DELETE      &kp BACKSPACE  &none            &none     &none       &none       &kp C_VOLUME_UP    &none       &none  &trans
&trans  &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW   &kp RIGHT_ARROW  &none     &kp K_MUTE  &kp K_PREV  &kp C_VOLUME_DOWN  &kp K_NEXT  &none  &trans
&trans  &none     &none           &none          &none            &none     &none       &none       &kp K_PLAY_PAUSE   &none       &none  &trans
                                  &trans         &trans           &trans    &trans      &trans      &trans
            >;
        };
    };
};
