/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        spotlight: spotlight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&tog 3 &kp>, <&macro_press>;

            label = "SPOTLIGHT";
        };
    };

    combos {
        compatible = "zmk,combos";

        Layer3 {
            bindings = <&tog 3>;
            key-positions = <24 37 40>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <39 38>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB           &kp Q  &kp W  &kp E         &kp R  &kp T             &kp Y      &kp U  &kp I             &kp O    &kp P     &kp BSPC
&kp LEFT_SHIFT    &kp A  &kp S  &kp D         &kp F  &kp G             &kp H      &kp J  &kp K             &kp L    &kp SEMI  &kp APOS
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C         &kp V  &kp B             &kp N      &kp M  &kp COMMA         &kp DOT  &kp FSLH  &kp ESC
                                &kp LEFT_ALT  &mo 2  &kp LEFT_SHIFT    &kp SPACE  &mo 1  &kp LEFT_COMMAND
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB        &kp N1         &kp N2                &kp N3                       &kp N4        &kp N5          &kp N6       &kp N7      &kp N8                         &kp N9                 &kp N0           &kp BSPC
&kp LESS_THAN  &kp PIPE       &kp LEFT_PARENTHESIS  &mt LEFT_BRACKET LEFT_BRACE  &kp UNDER     &kp KP_MINUS    &kp KP_PLUS  &kp CARET   &mt RIGHT_BRACKET RIGHT_BRACE  &kp RIGHT_PARENTHESIS  &kp BACKSLASH    &kp GREATER_THAN
&trans         &kp KP_DIVIDE  &kp EXCL              &kp AT                       &kp KP_EQUAL  &kp HASH        &kp DOLLAR   &kp PERIOD  &kp AMPS                       &kp PERCENT            &kp KP_MULTIPLY  &trans
                                                    &trans                       &trans        &trans          &trans       &trans      &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB         &kp DELETE  &kp UP_ARROW    &kp BACKSPACE  &trans  &trans       &trans      &trans  &kp C_VOLUME_UP    &trans  &trans  &kp BSPC
&kp LEFT_SHIFT  &kp LEFT    &kp DOWN_ARROW  &kp RIGHT      &trans  &trans       &kp K_MUTE  &kp F7  &kp C_VOLUME_DOWN  &kp F9  &trans  &trans
&trans          &trans      &trans          &trans         &trans  &trans       &trans      &trans  &kp F8             &trans  &trans  &trans
                                            &kp LGUI       &trans  &kp ENTER    &kp SPACE   &trans  &kp RALT
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
